{% extends 'pathology/base.html' %}
{% load static %}
{% block content %}


<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
</style>
</head>

<div class="flip-card center" style="margin-left: 10%; margin-top: 5%;">
  <h4>Click on the image to view</h4>
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static 'media/josim_nat.jpg' %}"  alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back bg-warning">
      <h1>মোট হিসাব</h1> 
      <hr/>
      <h2>বিল {{ count_pay }} টি</h2>
       <h2> মোট বিক্রয় = {{ total_after_disc }} টাকা</h2>
    </div>
  </div>
</div>



{% endblock content %}